body {
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Planetarium_in_Putnam_Gallery_2%2C_2009-11-24.jpg/1280px-Planetarium_in_Putnam_Gallery_2%2C_2009-11-24.jpg);
}

#why {
    color:goldenrod;
    text-align:center;
    font-family: 'Playball', cursive;
    margin-top: 50px;
    font-size: 150px;
}

#thestars {
    color:goldenrod;
    text-align:center;
    font-family: 'Playball', cursive;
    margin-bottom: 100px;
}

nav, footer {
    background-image: linear-gradient( #bb771f, gold);
    font-family: serif;
}

footer {
    height: 50px;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    margin: auto;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    background: linear-gradient(red,pink);
    position: fixed;
    top: 50%;
    left: 50%;
}

.modal-content {
    background-color: rgba(194, 194, 191, 0.9);
    border-radius: 10%;
    font-family: serif;
}

input {
    background-color: beige;
}

a {
    color: inherit;
    padding: 2px;
}